@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Optional: Add a semi-transparent overlay for better readability */


.dashboard-container {
  text-align: center;
}

.dashboard-container h1 {
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.card h3 {
  margin-top: 0;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calendar-container {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 300px;
  margin-right: 150px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-header h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.icons {
  display: flex;
  gap: 10px;
}

.icon {
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border-radius: 50%;
}

.menu {
  background-color: #ddd;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.calendar th,
.calendar td {
  padding: 10px;
  font-size: 14px;
  color: #555;
  vertical-align: top;
  position: relative;
}

.calendar thead th {
  font-weight: bold;
  color: #888;
}

.calendar td.disabled {
  color: #ddd;
}

.calendar td:not(.disabled):hover {
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
}

.calendar td.highlight {
  color: #fff;
  font-weight: bold;
  background-color: #007BFF;
  border-radius: 50%;
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

/* Styles for habit dots */
.calendar td .habit-dots-container {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3px;
}

.calendar td .habit-dots-container .habit-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: inline-block;
}



.right-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 50px;
  right: 20px;
  padding-left: 80px;
  width: 20%;
}

.add-habits-container {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  gap: 20px; 
}

button.plus-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}

button.plus-button:hover {
  background-color: #218838;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 600px;
  height: 600px;
  position: relative;
}

.hidden {
  display: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.search-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.habit-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.habit-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.habit-item {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  cursor: pointer;
}

.habit-item:hover {
  background-color: #e0e0e0;
}

.goal-section, .reminder-section {
  margin-top: 20px;
}

.goal-section label, .reminder-section label {
  display: block;
  margin-bottom: 5px;
}

.save-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.save-button:hover {
  background-color: #0056b3;
}

.progress-container {
   margin-top: 20px;
    width: 100%;
   }
.progress-bar{ 
  width: 0; 
  height: 20px;
   background-color: 
   #007bff; color: white; text-align: center; line-height: 20px; border-radius: 5px; 
   transition: width 0.3s; 
  }
