@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');

*{
  font-family: 'Cardo';
}

.container {
    background: rgba(255, 255, 255, 0.8); /* White background with opacity */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 120px auto; /* Center vertically and horizontally */
  }
  
  h1{
    text-align: center;
    margin-top:150px;
    
  }
  
  h2 {
    margin-bottom: 50px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 20px;
  }
  
  .image-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }